<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>HotelBooking</title>
</head>
<body bgcolor="#7fffd4">
    <table align="center">
        <tr>
            <td>
                <img src="{% static 'images/hotel_icon.png' %}" width=150 height="150">
            </td>
            <td>
                <font size="8" face="Arial">
                    Online Hotel Booking
                </font>
            </td>
        </tr>
        <tr>
            <th colspan="2">
                <marquee>
                    <font size="3" face="arial">
                        The great advantage of a hotel is that it is a refuge from home life.
                    </font>
                </marquee>
            </th>
        </tr>
    </table>
    <table align="center" border="2">
        <tr>
            <th width="120">
                <a href="/openHomePage/?type=home">
                    Home
                </a>
            </th>
            <th width="120">Services</th>
            <th width="120">
                <a href="/openUserLogin/?type=h_user">
                    User
                </a>
            </th>
            <th width="120">Admin</th>
            <th width="120">Contact Us</th>
        </tr>
    </table>
    {% if type == "home" %}
    <table align="center">
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <td width="350">
                <font size="4" face="Arial Rounded MT Bold">
                    Online hotel reservations are a popular method for booking hotel rooms. Travelers can book rooms on a computer by using online security to protect their privacy and financial information and by using several online travel agents to compare prices and facilities at different hotels.
                </font>
            </td>
            <td>
                <img src="{% static 'images/main_page_icon.png' %}" width="150" height="150">
            </td>
        </tr>
    </table>
    {% endif %}
    {% if type == "h_user" %}
        <form action="//" method="post">
            {% csrf_token %}
            <table align="center">
                <tr><th height="50" width="200">User Login Page</th></tr>
                <tr><th height="50" width="200"><input type="text" placeholder="UserName" required name="uname"></th></tr>
                <tr><th height="50" width="200"><input type="text" placeholder="PassWord" required name="pass"></th> </tr>
                <tr><th height="50" width="200"><input type="submit" value="Login"></th> </tr>
                <tr><th>
                    <a href="/openUserRegister/?type=u_register">New User Register</a>
                </th></tr>
            </table>
        </form>
    {% endif %}
</body>
</html>